<h2>Show Image</h2>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @image.announce_id %>
  </li>

  <li>
    <strong>Filename:</strong>
    <%= @image.file.file_name %>
  </li>

</ul>

<span><%= link "Back", to: image_path(@conn, :index) %></span>
