.container-fluid.m-0.p-0
  .row.nav-row.align-items-center.bg-primary.m-0.p-0
    .col.col-xs-2.text-left
      %a.text-white{href: "#"}
        %i.fa.fa-bars
    .col.col-xs-10.text-center
      = render "_logo_white.html", assigns
    .col.col-xs-2.text-right
      %a.text-white{href: "#", data-toggle: "collapse" data-target="#searchBar"}
        %i.fa.fa-search
  .row.nav-row.collapse.position-absolute.bg-primary.m-0.p-0{id: "searchBar"}
    .col.col-xs-12.col-sm-10.offset-sm-1.col-lg-8.offset-lg-2.align-middle
      = render "_search_form.html", assigns
