%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard)
    %li.breadcrumb-item= link "Townships", to: Routes.township_path(@conn, :index)
    %li.breadcrumb-item.active{aria-current: "page"}= "New township"
= render "form.html", Map.put(assigns, :action, Routes.township_path(@conn, :create))
