%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: main_path(@conn, :dashboard)
    %li.breadcrumb-item= link "Familys", to: family_path(@conn, :index)
    %li.breadcrumb-item.active{aria-current: "page"}= "Edit family"
= render "form.html", Map.put(assigns, :action, family_path(@conn, :update, @family))
