<h2>Show Family</h2>

<ul>

  <li>
    <strong>Title en:</strong>
    <%= @family.title_en %>
  </li>

  <li>
    <strong>Title bi:</strong>
    <%= @family.title_bi %>
  </li>

  <li>
    <strong>Active:</strong>
    <%= @family.active %>
  </li>

</ul>

<span><%= link "Edit", to: family_path(@conn, :edit, @family) %></span>
<span><%= link "Back", to: family_path(@conn, :index) %></span>
