%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard)
    %li.breadcrumb-item= link "Categorys", to: Routes.category_path(@conn, :index)
    %li.breadcrumb-item.active{aria-current: "page"}= "Edit category"
= render "form.html", Map.put(assigns, :action, Routes.category_path(@conn, :update, @category))
