%nav{aria-label: "breadcrumb"}
  %ol.breadcrumb
    %li.breadcrumb-item= link "Dashboard", to: Routes.main_path(@conn, :dashboard)
    %li.breadcrumb-item= link "Divisions", to: Routes.division_path(@conn, :index)
    %li.breadcrumb-item.active{aria-current: "page"}= "New division"

= render "form.html", Map.put(assigns, :action, Routes.division_path(@conn, :create))
