.row
  .col-12.my-2
    = img_tag static_path(@conn, "/images/viber_icon.png"), class: "icon_viber"
  .col-12
    %h4.font-weight-bold.text-centre.viber-text
      = gettext "Please connect to PawChaungKaung on viber to receive notifications !"
    %p.font-weight-bold.text-centre.viber-text
      = gettext "You can scan this QR code on your viber application..."

.row
  .col-xs-12.col-sm-4.offset-sm-4.my-4
    = img_tag(static_path(@conn, "/images/viber_QR_code.png"))
