.row
  .col-12
    .form-group.text-left
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-font
        = text_input @a, :title, class: "form-control", maxlength: "30", autocomplete: "nope", placeholder: LayoutView.convert_zawgyi(gettext("Title"))

  .col-12
    .form-group
      .input-group
        %span.input-group-prepend
          .input-group-text.bg-transparent
            %i.fa.fa-edit
        = textarea @a, :description, class: "form-control", rows: "8", maxlength: "200", autocomplete: "nope", placeholder: LayoutView.convert_zawgyi(gettext("Describe your offer (size, dimensions, condition, scratches, date of buy, ...)"))
