.price
  %i.icon.icon-success.fas.text-center.text-success.mr-1{class: "#{BoncoinWeb.AnnounceView.show_sell_mode(@announce.sell_mode)}"}
  %h6.font-weight-bold.text-success.m-0= BoncoinWeb.AnnounceView.show_price(@announce.price, @announce.currency)
