.row
  .col-12.big-announce.p-0.p-sm-3{id: "big_announce_#{@announce.id}", name: "big_announce_#{@announce.id}"}
    = render BoncoinWeb.AnnounceView, "_display_big.html", announce: @announce, conn: @conn
