-#
-# .row.collapse.collapsible_form.my-3
-#   -# Asking for photos
-#   .col-12
-#     %hr.d-block.d-sm-none
-#     %h5.text-left= gettext("3. Show some photos")
-#     %p.text-left= gettext "Please select 1, 2, or 3 photos to show the object and its condition."
-#     -# %h3= "thanks to https://pqina.nl/slim/#docs"
-#   .col-12
-#     .row
-#       .col-xs-12.col-sm-4
-#         %fieldset.form-group.m-3.mx-sm-0
-#           %input.form-control.slim{id: "image_file_1", name: "announce[image_file_1]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true", data-label="#{gettext("Photo 1")}", data-label-loading="Loading"}
-#       .col-xs-12.col-sm-4
-#         %fieldset.form-group.m-3.mx-sm-0
-#           %input.form-control.slim{id: "image_file_2", name: "announce[image_file_2]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true", data-label="#{gettext("Photo 2")}", data-label-loading="Loading"}
-#       .col-xs-12.col-sm-4
-#         %fieldset.form-group.m-3.mx-sm-0
-#           %input.form-control.slim{id: "image_file_3", name: "announce[image_file_3]", type: "file", data-post="output", data-force-type: "jpg", data-ratio: "1:1", data-size: "600,600", data-min-size: "300,300", data-instant-edit: "true", data-label="#{gettext("Photo 3")}", data-label-loading="Loading"}
-#
-# .row.collapse.collapsible_form.my-3
-#   .col-12
-#     %hr.d-block.d-sm-none
-#     .form-group.form-check
-#       %label.form-check-label
-#         = checkbox a, :conditions, class: "form-check-input", type: "radio"
-#         = gettext "I understand and agree to "
-#         - link to: main_path(@conn, :conditions), target: "_blank" do
-#           %span.text-primary.font-weight-bold= gettext "conditions"
-#         = gettext "I understand and agree to (burmese end)"
-#   .col-12
-#     .form-group
-#       = submit gettext("Submit this offer"), class: "btn btn-primary btn-lg"
