%h2.my-3= "Create your offer"

.card.mb-4.info
  .card-body.text-left
    %p= "Please note that your are acting on your own and that the website can’t hold any responsability on the transaction you may have with people who contact you. Your announce will be validated by our team and can be refused if we decide to."
    %p.m-0= "For more details please read our terms and conditions."


= render "form.html", Map.put(assigns, :action, announce_path(@conn, :create))
