-# .row
-#   .col-12
-#     .card.mb-4.bg-primary
-#       .card-body
-#         %h5.font-weight-bold.text-white
-#           = gettext("You saved {nb_offers}offers}", nb_offers: @conn.assigns.nb_offers_found)
-#         %h6.text-white.mb-0= gettext "Please meet the seller and try the product before giving any money"
-#
-# .row{id: "offers-results"}
-#   = render "_public_list_offers.html", announces: @announces, conn: @conn
-#
-#   - if @announces == [] do
-#     .col-xs-12.col-sm-8.offset-sm-2.mt-5
-#       .card
-#         .card-body
-#           %h4.text-primary= gettext "You didn't save any offer yet or these offers are not online anymore."
-#           .btn.bg-primary.my-3.mw-100.text-white
-#             = gettext "Please search again !"
-#
-# %div{id: "config", data-api: "#{@conn.assigns.api_key}"}
