-# .row.m-3
-#   .col-xs-12.col-sm-6.p-0.mb-3.px-sm-3
-#     .w-100.bg-white
-#       -# Declare offer closed
-#       - link to: announce_path(@conn, :close, announce_id: "#{@announce.id}", cause: "SOLD") do
-#         .btn.btn-lg.btn-block.btn-outline-secondary.d-flex.justify-content-center.align-items-center
-#           = gettext "I sold this item"
-#           %i.fas.fa-handshake.btn-icon-left
-#
-#   .col-xs-12.col-sm-6.p-0.px-sm-3
-#     .w-100.bg-white
-#       -# Declare offer sold
-#       - link to: announce_path(@conn, :close, announce_id: "#{@announce.id}", cause: "CANCELLED") do
-#         .btn.btn-lg.btn-block.btn-outline-secondary.d-flex.justify-content-center.align-items-center
-#           = gettext "I cancel this offer"
-#           %i.fas.fa-ban.btn-icon-left
