.col-xs-12.col-sm-6.my-1
  -# %a.btn-small-announce{id: "small_announce_#{@announce.id}", data-announce-id: "#{@announce.id}", name: "small_announce_#{@announce.id}", href: "#"}
  .card.shadow.bg-white.rounded
    .card-body.p-0
      .col-12.p-0
        = img_tag(static_path(@conn, "/images/pubs/test_pub_small.png"))
